.bg-primary { background-color:#085571 !important; }
a.active { background-color:#085571 !important; }

a:active, a:visited, a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*
This would more closely match the previous site's CSS
h1, h2, h3 {
  font-weight: 700;
}
*/